<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/png" href="../Sites/favicon.png">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css?2474">
    <link rel="stylesheet" type="text/css" href="../static/style.css?4207">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">

    <title>Home</title>



    <!-- Analytics -->

    <!-- Analytics END -->

</head>

<body>
    <!-- Main container -->
    <div class="page-container">

        <!-- bloc-0 -->
        <div class="bloc bg-desk-equipment d-bloc" id="bloc-0">
            <div class="container bloc-sm">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-light row navbar-expand-md" role="navigation">
                            <a class="navbar-brand" href="../Sites">CASIA STOCK VIEWER</a>
                            <button id="nav-toggle" type="button"
                                class="ml-auto ui-navbar-toggler navbar-toggler border-0 p-0" data-toggle="collapse"
                                data-target=".navbar-35283" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse navbar-35283">
                                <ul class="site-navigation nav navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="/stock/" class="nav-link">Explore</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar-content-area d-block col-12 col-md-3 col-lg-2">
                                <div class="row">
                                    <div class="align-self-center col-4 text-left">
                                        <a href="https://blocsapp.com/"><span
                                                class="fa fa-facebook-official icon-md"></span></a>
                                    </div>
                                    <div class="align-self-center col-4 text-center">
                                        <a href="https://blocsapp.com/"><span
                                                class="fa fa-twitter float-md-none icon-md"></span></a>
                                    </div>
                                    <div class="align-self-center col-4 text-right">
                                        <a href="https://blocsapp.com/"><span
                                                class="fa fa-instagram float-lg-none icon-md"></span></a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-0 END -->

        <!-- bloc-1 -->
        <div class="bloc bg-repeat l-bloc" id="bloc-1">
            <div class="container bloc-lg">
                <div class="row">
                    <div class="col">
                        <div title="k线图" style="width: 1200px;height: 600px;border: 1px solid #E0E0E0;" id="kline_1"
                            class=""></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-1 END -->

        <!-- bloc-2 -->
        <div class="bloc l-bloc" id="bloc-2">
            <div class="container bloc-lg">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Stock Name<br>
                            </label>
                        </div>
                        <div class="form-group">
                            <select name="stock-name" id="stock-id" class="form-control">
                                {% for stock in stocks %}
                                <option value={{ stock.file }}>{{ stock.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="form-group">
                                <label class="label-style">
                                    Start Time<br>
                                </label>
                                <div class="form-group">
                                    <select class="form-control" id="scope-start">
                                        {% for scope in scopes %}
                                        <option value={{ scope }}>{{ scope }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        End Time
                                    </label>
                                    <div class="form-group">
                                        <select class="form-control" id="scope-end">
                                            {% for scope in scopes %}
                                            <option value={{ scope }}>{{ scope }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center container-div-style">
                            <button type="submit" id="generate" class="btn btn-d btn-lg">
                                View
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-2 END -->

        <!-- ScrollToTop Button -->
        <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span
                class="fa fa-chevron-up"></span></a>
        <!-- ScrollToTop Button END-->


        <!-- bloc-3 -->
        <div class="bloc bgc-black d-bloc" id="bloc-3">
            <div class="container bloc-lg">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4 class="mg-md text-sm-left text-center tc-white">
                            About
                        </h4><a href="../Sites" class="a-btn a-block footer-link">The Team</a><a href="../Sites"
                            class="a-btn a-block footer-link">Contact Us</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="mg-md text-sm-left text-center tc-white">
                            Get the app
                        </h4><a href="../Sites" class="a-btn a-block footer-link">Android</a><a href="../Sites"
                            class="a-btn a-block footer-link">iOS</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="mg-md text-sm-left text-center tc-white">
                            Follow Us
                        </h4><a href="../Sites" class="a-btn a-block footer-link">Twitter</a><a href="../Sites"
                            class="a-btn a-block footer-link">Facebook</a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h4 class="mg-md text-sm-left text-center tc-white">
                            Connect
                        </h4>
                        <div class="row">
                            <div class="col-6 col-sm-2 col offset-sm-0">
                                <div class="text-center">
                                    <a href="https://blocsapp.com/"><span
                                            class="fa fa-facebook-official icon-md"></span></a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="text-center">
                                    <a href="https://blocsapp.com/"><span class="fa fa-twitter icon-md"></span></a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="text-center">
                                    <a href="https://blocsapp.com/"><span class="fa fa-instagram icon-md"></span></a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2">
                                <div class="text-center">
                                    <a href="https://blocsapp.com/"><span class="fa fa-envelope-o icon-md"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-3 END -->

    </div>
    <!-- Main container END -->

    <script src="/static/echarts.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js?4572"></script>
    <script src="/static/js/bootstrap.bundle.min.js?1670"></script>
    <script src="/static/js/blocs.min.js?6281"></script>
    <script src="/static/js/lazysizes.min.js" defer></script>
    <script src="/static/jquery.min.js?v=2.1.4"></script>
    <script src="/static/bootstrap.min.js?v=3.3.6"></script>

    <script src="/static/content.js?v=1.0.0"></script>
    <!-- jQuery Validation plugin javascript-->
    <script src="/static/jquery.validate.min.js"></script>
    <script src="/static/messages_zh.min.js"></script>
    <!-- Additional JS END -->

    <script type="text/javascript">

        var myChart = echarts.init(document.getElementById('kline_1'));
        myChart.clear();
        $(document).ready(function () {
        var dates = [{% for dat in date %} "{{dat}}", {% endfor %}];
        var high = [{% for dat in high %} {{ dat }}, {% endfor %}];
        var open = [{% for dat in open %} {{ dat }}, {% endfor %}];
        var close = [{% for dat in close %} {{ dat }}, {% endfor %}];
        var low = [{% for dat in low %} {% if dat == 'None' %} {{ dat }}, {% endif %} {% endfor %}]
        var downline = [{% for dat in downline %} {{dat}}, {% endfor %}];
        var upline = [{% for dat in upline %} {{dat}}, {% endfor %}]
        var downline_time = [{% for dat in downline_time %} "{{ dat }}", {% endfor %}];
        var upline_time = [{% for dat in upline_time %} "{{ dat }}", {% endfor %}];
        downline = downline.map((item, index) => { return [downline_time[index], item] });
        upline = upline.map((item, index) => { return [upline_time[index], item] });
        console.log(upline);
        kline_show = open.map((item, index) => { return [open[index], close[index], low[index], high[index]]})
        console.log(dates, high, open, close, low, downline, upline);
        myChart.setOption({ //加载数据图表
            title: {
                text: "上证指数",
                left: 0
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'line'
                }
            },
            legend: {
                data: ['5 MINUTES K', 'HIGH', 'UPLINE', 'DOWNLINE']
            },
            grid: {
                left: '10%',
                right: '10%',
                bottom: '15%'
            },
            xAxis: {
                type: 'category',
                data: dates,
                scale: true,
                boundaryGap: false,
                axisLine: {
                    onZero: false
                },
                splitLine: {
                    show: false
                },
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'
            },
            yAxis: {
                scale: true,
                splitArea: {
                    show: true
                }
            },
            dataZoom: [{
                type: 'inside',
                start: 80,
                end: 100
            },
            {
                show: true,
                type: 'slider',
                y: '90%',
                start: 80,
                end: 100
            }
            ],
            series: [{
                name: '5 MINUTES K',
                type: 'candlestick',
                data: kline_show,
                markPoint: {
                    label: {
                        normal: {
                            formatter: function (param) {
                                return param != null ? Math.round(param.value) : '';
                            }
                        }
                    },
                    data: [{
                        name: 'XX标点',
                        coord: ['2013/5/31', 2300],
                        value: 2300,
                        itemStyle: {
                            normal: {
                                color: 'rgb(41,60,85)'
                            }
                        }
                    },
                    {
                        name: 'highest value',
                        type: 'max',
                        valueDim: 'highest'
                    },
                    {
                        name: 'lowest value',
                        type: 'min',
                        valueDim: 'lowest'
                    },
                    {
                        name: 'average value on close',
                        type: 'average',
                        valueDim: 'close'
                    }
                    ],
                    tooltip: {
                        formatter: function (param) {
                            return param.name + '<br>' + (param.data.coord || '');
                        }
                    }
                },
                markLine: {
                    symbol: ['none', 'none'],
                    data: [
                        {
                            name: 'min line on close',
                            type: 'min',
                            valueDim: 'close'
                        },
                        {
                            name: 'max line on close',
                            type: 'max',
                            valueDim: 'close'
                        }
                    ]
                }
            },
            {
                name: 'HIGH',
                type: 'line',
                data: high,
                smooth: false,
                lineStyle: {
                    normal: {
                        opacity: 0.5
                    }
                }
            },

            {
                name: 'UPLINE',
                type: 'line',
                data: upline,
                smooth: false,
                lineStyle: {
                    normal: {
                        opacity: 0.5,
                    }
                }
            },
            {
                name: 'DOWNLINE',
                type: 'line',
                data: downline,
                smooth: false,
                lineStyle: {
                    normal: {
                        opacity: 0.5
                    }
                }
            },

            ]
        });

        $("#generate").on("click", function () {
            var stock_name = $("#stock-id").val();
            var scope_start = $("#scope-start").val();
            var scope_end = $("#scope-end").val();
            $.ajax({
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: "/stock/",
                data: {
                    "stock-name": stock_name,
                    "scope-start": scope_start,
                    "scope-end": scope_end
                },
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    if (data.status === "success") {
                        // console.log(data);
                        // var result1 = data.open.map((item,index) => {return [item,data.close[index]]});


                        var kline = data.date.map((item, index) => { return [data.open[index], data.close[index], data.low[index], data.high[index]] });
                        var upline = data.upline.map((item, index) => { return [data.upline_time[index], item] });
                        var downline = data.downline.map((item, index) => { return [data.downline_time[index], item] });
                        // console.log(downline);
                        myChart.setOption({ //加载数据图表
                            title: {
                                text: data.name,
                                left: 0
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'line'
                                }
                            },
                            legend: {
                                data: ['5 MINUTES K', 'HIGH', 'UPLINE', 'DOWNLINE']
                            },
                            grid: {
                                left: '10%',
                                right: '10%',
                                bottom: '15%'
                            },
                            xAxis: {
                                type: 'category',
                                data: data.date,
                                scale: true,
                                boundaryGap: false,
                                axisLine: {
                                    onZero: false
                                },
                                splitLine: {
                                    show: false
                                },
                                splitNumber: 20,
                                min: 'dataMin',
                                max: 'dataMax'
                            },
                            yAxis: {
                                scale: true,
                                splitArea: {
                                    show: true
                                }
                            },
                            dataZoom: [{
                                type: 'inside',
                                start: 80,
                                end: 100
                            },
                            {
                                show: true,
                                type: 'slider',
                                y: '90%',
                                start: 80,
                                end: 100
                            }
                            ],
                            series: [{
                                name: '5 MINUTES K',
                                type: 'candlestick',
                                data: kline,
                                markPoint: {
                                    label: {
                                        normal: {
                                            formatter: function (param) {
                                                return param != null ? Math.round(param.value) : '';
                                            }
                                        }
                                    },
                                    data: [{
                                        name: 'XX标点',
                                        coord: ['2013/5/31', 2300],
                                        value: 2300,
                                        itemStyle: {
                                            normal: {
                                                color: 'rgb(41,60,85)'
                                            }
                                        }
                                    },
                                    {
                                        name: 'highest value',
                                        type: 'max',
                                        valueDim: 'highest'
                                    },
                                    {
                                        name: 'lowest value',
                                        type: 'min',
                                        valueDim: 'lowest'
                                    },
                                    {
                                        name: 'average value on close',
                                        type: 'average',
                                        valueDim: 'close'
                                    }
                                    ],
                                    tooltip: {
                                        formatter: function (param) {
                                            return param.name + '<br>' + (param.data.coord || '');
                                        }
                                    }
                                },
                                markLine: {
                                    symbol: ['none', 'none'],
                                    data: [
                                        {
                                            name: 'min line on close',
                                            type: 'min',
                                            valueDim: 'close'
                                        },
                                        {
                                            name: 'max line on close',
                                            type: 'max',
                                            valueDim: 'close'
                                        }
                                    ]
                                }
                            },
                            {
                                name: 'HIGH',
                                type: 'line',
                                data: data.high,
                                smooth: false,
                                lineStyle: {
                                    normal: {
                                        opacity: 0.5
                                    }
                                }
                            },

                            {
                                name: 'UPLINE',
                                type: 'line',
                                data: upline,
                                smooth: false,
                                lineStyle: {
                                    normal: {
                                        opacity: 0.5,
                                    }
                                }
                            },
                            {
                                name: 'DOWNLINE',
                                type: 'line',
                                data: downline,
                                smooth: false,
                                lineStyle: {
                                    normal: {
                                        opacity: 0.5
                                    }
                                }
                            },

                            ]
                        });
                    }
                    else {
                        alert("Failed to upload for lmy is watching something good.");
                    }
                },
                error: function (data) {
                    alert("Faild to fetch data for aliens have stolen them.");
                }
            });
            return false;
        });
        });
    </script>


    <!-- Preloader -->
    <div id="page-loading-blocs-notifaction" class="page-preloader"></div>
    <!-- Preloader END -->

</body>

</html>